
body {
    margin: 0px;
}

.header {

    background: #1a222c;
    color: #FFFFFF;
    position: relative;
    height: 175px;
}

.header_image {

    margin: 10px;
    position: absolute;
    width: 200px;
    text-align: center;
}


.nav_links {

    position: absolute;
    width: 500px;
    right: 0px;

}


.main_item {

    float: left;
    list-style: none;
    margin: 25px;
}

.main_item:hover {
    cursor: pointer;
    color: #d35fea;
}

.main_item ul {

    padding-left: 0px;
    margin-top: 5px;
    color: #FFFFFF;
}

.main_item ul li:hover {
    color: #d35fea;
}

.nav_links ul li ul {
    display: none;

}

.nav_links li:hover ul {
    display: block;

}

.child {
    list-style: none;
    padding: 5px;

}


@media only screen and (max-width: 700px) {
    
    .header {

        background: #1a222c;
        color: #FFFFFF;
        position: relative;
        height: 500px;

    }

    .header_image {
        margin: 0px;
        width: 100%;
        height: 175px;
        border-bottom: solid;
        border-width: 1px;
    }
    
    .nav_links {
        width: 99%;
        top: 180px;

    }
    
    .nav_links ul {
        text-align: center;
        padding: 0px;
    }
    
    .main_item {
        border-bottom: solid;
        border-width: 1px;
        float: none;
        list-style: none;

        padding: 10px;
        margin: 0px;
    }
}

